@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.onClick {
    cursor: pointer;
    text-decoration: underline;
}

.container {
    width: 100%;
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary--color) !important;
    position: fixed;
    z-index: 2;
    bottom: 30px;
    right: 40px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid;
    border-radius: 24px;
    border-color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    border-radius: 2px;
    background-color: var(--black-color);
    animation: scroll 1000ms infinite alternate-reverse;
}

li {
    list-style-type: none;
    color: black;
}

/* GENERIC */

section {
    background-color: rgb(245, 245, 245);
}

input,
textarea {
    width: 100%;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 40px;
    transition: all 100ms ease;
}

textarea {
    resize: vertical;
    resize: none;
    height: 95px;
    margin-top: 6px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

nav,
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 200ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms 100ms;
}


/*

.   LANDING PAGE

*/

#landing__page {
    min-height: 100vh;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.title {
    text-align: left;
    font-size: 120px;
    margin-bottom: 12px;
    line-height: 1;
}

.header__para {
    font-size: 24px;
    line-height: 1.5;
    max-width: 450px;
}

.social__list {
    margin-top: 15px;
    display: flex;
}

.social__link {
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.click {
    transition: all 200ms ease;
}

/*

.   NAVIGATION PAGE

*/

/* POSITIONING --> */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;

}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}

/* <-- */

/* IMAGES STYLING -->*/
#personal-logo {
    width: 50px;
    height: 50px;
}





/* <-- */

/* 

.   PROJECTS PAGE

*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 0.5s, z-index 0.5s, box-shadow 0.45s ease;
}


.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal__about {
    transform: translateX(-110%);
}

.modal__half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px 72px;
    transition: all 300ms ease-in;
}

.modal__contact {
    transform: translateX(110%);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 16px;
    transition: all 300ms ease;
}

.modal__title {
    font-size: 26px;
    margin-bottom: 20px;
}

.modal__sub-title {
    margin-top: 12px;
}

.modal__para {
    font-size: 22px;
}

.lanuage__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
}

.lanuage__name {
    display: flex;
}

.form__item {
    margin-bottom: 20px;

}

.form__item:first-child {
    margin-top: 24px;
}

.form__submit {
    font-size: 20px;
    border: 2px solid var(--secondary--color);
    font-weight: bold;
    max-width: 240px;
    width: 100%;
    padding: 12px 24px;
    transition: all 300ms ease;
}

.modal__overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__overlay--loading {
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
    z-index: -1;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 36px;
    z-index: 100;
    transition: all 300ms ease;
}

/* 

.   PROJECTS PAGE

*/

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 150px;
}

.project {
    margin-bottom: 125px;
}

.project__img {
    width: 100%;
    transition: ease-in-out 300ms;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
    transition: ease-in-out 300ms;
}

.project__description {
    position: absolute;
    max-width: 480px;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
}

.project__wrapper:hover .project__wrapper--background {
    opacity: 0.7;
}

.project__wrapper--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;

}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin: 8px 0;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}

/* 

.   FOOTER PAGE

*/

footer {
    position: relative;
    display: flex;
    padding: 6% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    width: 70px;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
}