:root {
    --white-color: white;
    --grey-color: rgb(245, 245, 245);
    --black-color: #242424;
    --black--light: #1c1d25;
    --secondary--color: #1e0f81;
    --secondary--color--darkmode: #93c7d4;
    --success--color: #4bb543;
    --background--color-darkTheme: #242424;
}


.darkTheme {
    --secondary--color: rgb(1, 117, 140);
    --black-color: white;
}

.darkTheme .modal__contact {
    background-color: #242424;
}

.darkTheme p,
.darkTheme .section__title {
    color: var(--white-color);
}

.darkTheme #personal-logo {
    filter: invert(0);
}


.darkTheme footer {
    background-color: #242424;
}

.darkTheme section {
    background-color: var(--background--color-darkTheme);
}

.darkTheme .modal__para, .darkTheme input, .darkTheme textarea {
    color: black;
}

/* BACKGROUND / FONT COLOUR */

.form__submit:active {
    border-color: var(--secondary--color);
    color: var(--secondary--color);
}

/* BACKGROUND COLOUR */

.modal__overlay--success {
    background-color: var(--success--color);
}

.modal__about {
    background-color: var(--grey-color);
}


.social__link,
.mail__btn,
.form__submit {
    background-color: var(--secondary--color);
}

.project__wrapper--background {
    background-color: var(--black--light);
}

footer,
.link__hover-effect:after,
footer,
.modal__contact,
input,
textarea,
.modal__overlay--loading {
    background-color: var(--black-color);
}

/* FONT COLOUR */

.nav__link--anchor,
.title {
    color: var(--black-color);
}

.title--secondary,
.paragraph--secondary,
.social__link,
.mail__btn {
    color: var(--secondary--color);
}

.project__description,
input,
.fa-times,
textarea,
.social__link,
.mail__btn,
.project__description--link,
.footer__social--link,
.footer__copyright,
.modal__contact,
.form__submit {
    color: var(--white-color);
}